
@{
    Layout = "";
    ViewBag.Title = "Login";
}
<!DOCTYPE html>

<html lang="en">
<head>
    <title> Login </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/Login.css">

</head>
<body>
    <form action="Verify" class="box" method="post">
        <h1>Login</h1>
        <p style="color:rgb(255, 255, 255)">Please enter your login and password!</p>
        <input type="text" name="username" id="email" placeholder="Email">
        <input type="password" name="password" id="pass" placeholder="Password">
        <input type="submit" id="btn" value="Login" name="submitButton">
        <input type="submit" id="btn" value="Create new user" formaction="CreateUser" name="submitButton">

    </form>



</body>

</html>
